@media screen and (max-width: 500px) {

    header {
        background-image: url(./images/mobile/image-header.jpg);
    }

    .title-container h1 {
        font-size: 2rem;
        text-align: center;
    }

    ul {
        width: 90%;
        height: 50vh;
        display: none;
        position: absolute;
        top: 12vh;
        flex-direction: column;
        background-color: var(--white);
        padding: 2rem;
        text-align: center;
        z-index: 3;
        gap: 2.5rem;
    }

    ul::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 1.5rem solid transparent;
        border-bottom: 1.5rem solid #fff;
        top: -1.4rem;
        right: 0;
    }

    header nav ul a{
        color: var(--dark-grayish-blue);
        font-size: 1.5rem;
    }

    #contact-btn {
        background-color: var(--yellow);
    }

    .mobile-menu {
        display: flex;
    }

    .active-menu{
        display: flex;
        animation: fadeIn 1s;
    }

    .mobile-menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #first-section {
        padding-top: 0;
    }

    #reverse-mobile {
        flex-direction: column;
    }

    .double-box {
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
    }

    .double-box img {
        max-width: 100%;
        width: 100%;
    }

    .text-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #design {
        background-image: url(./images/mobile/image-graphic-design.jpg);
    }

    #photography {
        background-image: url(./images/mobile/image-photography.jpg);
    }

    #design, #photography {
        max-width: 100%;
        min-height: fit-content;
        background-size: cover;
        background-position: center;
        padding: 70vh 1rem 10vh 1rem;
    }

    .testimonials-control {
        flex-direction: column;
    }

    footer {
        overflow: auto;
    }

    .inner-footer {
        bottom: 0;
    }

    .image-control {
        display: flex;
        flex-wrap: wrap;
    }
   
    .footer-img {
        width: 50%;
        aspect-ratio: 1/1;
        height: auto;
    }

    #milkbottles {
        background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
    }
    
    #orange {
        background-image: url(./images/mobile/image-gallery-orange.jpg);
    }
    
    #cone {
        background-image: url(./images/mobile/image-gallery-cone.jpg);
    }
    
    #sugarcubes {
        background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
    }
}